@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellowy: #d2b769;
  --yellowy-light: #e2cb8a;
  color-scheme: light;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --yellowy: #f9c926;
  --yellowy-light: #fbd760;
  color-scheme: dark;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
}

@keyframes dundun {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(0.975);
  }
  25% {
    transform: scale(1);
  }
  37.5% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin-logo {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bouncy {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
    animation-timing-function: cubic-bezier(0.1, 0, 1, 1);
  }
  50% {
    transform: translateX(20%) rotate(35deg);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-yellowy: var(--yellowy);
  --color-yellowy-light: var(--yellowy-light);
  --color-yellowy-logo: #f9c926;
  --color-redy: #ed3c19;
  --color-redy-dark: #bd2c0f;
  --color-redy-light: #ee4f2f;
  --color-greeny: #2e8269;
  --color-greeny-dark: #205a4a;
  --color-greeny-darkest: #0a1a18;
  --color-greeny-darker: #142926;
  --color-greeny-light: #35977a;
  --color-greeny-lighter: #69a197;
  --color-graye: #455f5d;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-shake: wiggle 500ms ease-in-out infinite;
  --animate-dundun: dundun 1.5s ease-in infinite;
  --animate-spin-logo-once: spin-logo 500ms ease-out;
  --animate-stick: bouncy 1s infinite;
  --animate-stick2: bouncy 667ms infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
  user-select: none;
}
